#data folder:
/mvv/*
/mvg/*
/sdb/*
/combinedData/*
/sbahn_Subset/*
/mapData/*
/mapDataSmall/*
/maps/*
/queryRasterData/*

#R Project Files:
.Rhistory
/.Rproj.user/*


#RData files
*.RData
.Rproj.user
